APP_NAME=furnituree
PORT=8080

DB_URL=jdbc:mysql://localhost:3306/furniture_store
DB_USERNAME=DB_username
DB_PASSWORD=DB_password

JWT_SECRET=your-super-long-secret-key-at-least-32-characters
JWT_EXPIRATION=86400000